<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

<head>
  <title th:text="#{performanceDetails.title}">Performances</title>
  <link rel="stylesheet" href="../static/css/performance-details.css" th:href="@{css/performance-details.css}" />
</head>

<body>

  <div class="container">
	
    <h1 th:text="#{performanceDetails.heading}">Performance details</h1>
    
    <form action="#" th:action="@{/performance-details.html}" th:object="${performanceForm}" method="post">
         
      <input type="hidden" th:field="*{id}" /> 
      
      <label th:text="#{performanceDetails.form.label.name}">Name:</label>
      <span class="validation-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span> 
      <input type="text" th:field="*{name}" />
      
      
      <label th:text="#{performanceDetails.form.label.ticketType}">Ticket type:</label>
      <span class="validation-error" th:if="${#fields.hasErrors('ticketType')}" th:errors="*{ticketType}">Error</span> 
      <input type="text" th:field="*{ticktetType}" />
      
      
      <label th:text="#{performanceDetails.form.label.status}">Status:</label>
      <span class="validation-error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Error</span> 
      <input type="text" th:field="*{status}" />
      
      
      <label th:text="#{performanceDetails.form.label.transactionDate}">Transaction date:</label>
      <span class="validation-error" th:if="${#fields.hasErrors('transacionDate')}" th:errors="*{transactionDate}">Error</span> 
      <input type="date" th:field="*{transactionDate}" />
      
   
      <button th:if="${performanceForm.id != null}" type="submit" name="action" value="save" th:value="${T(org.training.project.controller.form.PerformanceDetailsForm.Action).SAVE}" th:text="#{performanceDetails.form.action.save}">Save changes</button>
      <button th:if="${performanceForm.id == null}" type="submit" name="action" value="save" th:value="${T(org.training.project.controller.form.PerformanceDetailsForm.Action).SAVE}" th:text="#{performanceDetails.form.action.create}">Create new ticket</button>
      <button type="submit" name="action" value="back" th:value="${T(org.training.project.controller.form.PerformanceDetailsForm.Action).BACK}" th:text="#{performanceDetails.form.action.back}">Back to tickets</button>
      <button th:if="${performanceForm.id != null}" type="submit" name="action" value="delete" th:value="${T(org.training.project.controller.form.PerformanceDetailsForm.Action).DELETE}" th:text="#{performanceDetails.form.action.delete}">Delete this ticket</button>
      
      <ul th:if="${#fields.hasErrors('global')}"> 
        <li class="validation-error" th:each="err : ${#fields.errors('global')}" th:text="${err}">Please review your input</li>
      </ul>
    </form>
    
	</div>
</body>
</html>

