<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

<head>
  <title th:text="#{performances.title}">Performances</title>
  <link rel="stylesheet" href="../static/css/performance-list.css" th:href="@{css/performance-list.css}" />
</head>

<body>

  <div class="container">
	
    <div class="resultHead">
      <h1 th:text="#{performances.heading}">Performances</h1>
    </div>

    <div class="searchForm">
      <form action="#" th:action="@{/}" method="get">
        <label for="searchBox" th:text="#{performances.action.search.caption}">Search for tickets</label> 
        <input id="searchBox" class="hint" type="text" name="searchTerm" placeholder="type a name, type or status"	th:placeholder="#{performances.action.search.textbox.placeholder}" autocomplete="off" />
        <button id="searchSubmit" class="submit" title="Search"	th:title="#{performances.action.search.button.title}" type="submit"></button>
      </form>
    </div>

    <br />

    <div class="performanceList" th:if="${not #lists.isEmpty(performances)}">
      <ul>
        <li th:each="performance : ${performances}" th:id="${'performance-' + performance.id}">
          <a href="performance.html" th:href="@{/performance-details.html(performanceId=${performance.id})}">
            <div class="image">
              <img src="../static/images/maszk.png" th:src="@{/images/maszk.png}" />
            </div>
            <div class="description">
              <div class="name" th:text="${employee.name}">Name</div>
              <div class="jobFunction" th:text="${performance.status}">Status</div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="no-results" th:if="${#lists.isEmpty(performances)}" th:text="#{performances.info.no-records}">
      Sorry, we do not have matching tickets in the database.
    </div>
				
    <form action="#" th:action="@{/performance-details.html}" method="get">
      <button type="submit" th:text="#{performances.action.createPerformance}">Create new Ticket</button>
    </form>
    
  </div>
</body>
</html>

