@import url(general.css);

@import url(search-box.css);

@import url(ribbon.css);

br {
    clear: both;
}

.resultHead {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin-bottom: 12px;
}

.employeeList {
    margin-top: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    
    color: #333333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

.employeeList ul {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #B4B4B4;
}

.employeeList ul li {
    list-style-type: none;
    border-bottom: 1px solid #B4B4B4;
    display: block;
    
    background-image: url("../images/arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    /* height: 90px;     complete row height */
}

.employeeList ul li:hover {
    background-color: #F4F4F4;
}

.employeeList ul li a {
    text-decoration: none;
    height: 100px; /* link applies to the complete row */
    display: block; /* link applies to the complete row */
    padding: 10px;
    color: #333333;
}

.employeeList ul li a:active {
    background-color: #6D84A2;
}

.employeeList ul li a:VISITED {
    color: #333333;
}

.employeeList ul li .image {
    float: left;
    padding-right: 10px;
}

.employeeList ul li .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.employeeName {
    font-family: Tahoma, Geneva, sans-serif !important;
    font-size: 17px !important;
    color: black;
}

.usage-info, .no-results {
    font-family: 'Futura Medium', 'Century Gothic', AppleGothic, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 36px;
}