/* Style for the search input box. */
.searchForm {
    float: right;
}

.searchForm label {
    float: left;
    font-family: sans-serif;
    font-size: 11px;
    padding-top: 5px;
    padding-right: 5px;
}

.hint {
    color: #999999;
}

#searchBox {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    height: 13px;
    padding: 4px 5px 3px;
    float: left;
    width: 200px;
    outline: medium none;
    font-size: 11px;
}

#searchSubmit {
    background-color: white;
    background-position: -1px 0px;
    border: 0 none #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    height: 22px;
    left: -2px;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    background-image: url("../images/search-button.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0;
    outline: medium none;
    padding: 0;
    width: 21px;
}

#searchSubmit:hover {
    background-position: -23px 0px;
}